ADF/pipeline/load_to_bronze.json
{
	"name": "load_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "If Condition2",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.loadType,'Full')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "audit_lkup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('select coalesce(cast(max(loaddate) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where data_source=''',pipeline().parameters.datasource,''' and tablename=''',pipeline().parameters.tablename,''' ')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "rcm_ind_delta_lake_ds",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "''",
										"table_name": "''"
									}
								}
							}
						},
						{
							"name": "inc_load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "audit_lkup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select *,''',pipeline().parameters.datasource,''' as datasource from ',pipeline().parameters.tablename,' where ',pipeline().parameters.watermark,' >=''',activity('audit_lkup').output.firstRow.last_fetched_date,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "rcm_ind_emr_ds",
									"type": "DatasetReference",
									"parameters": {
										"database_name": {
											"value": "@pipeline().parameters.database",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "rcm_ind_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": {
											"value": "@pipeline().parameters.targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update_audit",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "inc_load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values(''',pipeline().parameters.datasource,''',''',pipeline().parameters.tablename,''',''',activity('inc_load').output.rowscopied,''',''',pipeline().parameters.watermark,''',''',utcNow(),''')')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "rcm_ind_delta_lake_ds",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "''",
										"table_name": "''"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Full_Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select *,''',pipeline().parameters.datasource,''' as datasource from ',pipeline().parameters.tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "rcm_ind_emr_ds",
									"type": "DatasetReference",
									"parameters": {
										"database_name": {
											"value": "@pipeline().parameters.database",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@split(pipeline().parameters.tablename, '.')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "rcm_ind_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": {
											"value": "@pipeline().parameters.targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "audit_update",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Full_Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values(''',pipeline().parameters.datasource,''',''',pipeline().parameters.tablename,''',''',activity('Full_Load').output.rowscopied,''',''',pipeline().parameters.watermark,''',''',utcNow(),''')')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "rcm_ind_delta_lake_ds",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "''",
										"table_name": "''"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"loadType": {
				"type": "string"
			},
			"database": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			},
			"targetpath": {
				"type": "string"
			},
			"watermark": {
				"type": "string"
			},
			"datasource": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-21T13:37:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}